* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-image: url("home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mewo {
    position: absolute;

    width: 120px;

    bottom: 15%;
    right: 12%;

    cursor: pointer;

    transition: transform 0.2s;
}

#mewo:hover {
    transform: scale(1.1);
}
